<!DOCTYPE html>
  <html lang="en">
  <head>
    <style>
      img {
        width: 215px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
    <title>MxTwebsite</title>
    <meta charset="utf-8">


    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--for mobile websites-->

  <link rel="stylesheet" href="/static/stylesheets/announcement.css">
  <% include ./partials/header %>
  </head>
  <% include ./partials/navbar %>
  <% include ./partials/modal %>
  <body>
  <div class="active">
  <br><br><br>
  <div class="announcement">
    <h1><i class="fas fa-bullhorn"></i>  Announcements</h1>
  </div>


<hr class="upper">


<a href="/services/announcement" class="ml-5">< Back to Announcements</a><br>


  <div class="container" style="padding-bottom:25px;">
      <div class="row">
        <div class="col-md-6 m-auto">
    <h1><%= board.title %></h1><br>
    <font size="1"><%= board.board_date %></font><br>
    <font size="1">Views: <%= board.views+1 %></font><br>
    <% var hasPic = 0; %>
    <% var picFile; %>
    <% if (board.imageID) { %>
      <% for (var i = 0; i < files.length; i++) { %>
        <% if (files[i].filename == board.imageID) { %>
            <% if(files[i].isImage) { %>
              <img class="card-img-top" src="/services/image/<%= files[i].filename %>" alt="" style="width: 215px;">
              <% hasPic = 1; %>
              <% picFile = files[i]; %>
            <% } else { %>
              <%= files[i].filename %>
            <% } %>
        <% } %>
      <% } %>
    <% } %>

    <h5 style="word-wrap: break-word"><%= board.contents %></h5>


    <% if (hasPic) { %>
      <% if (req.user) { %>
          <% if (req.user.isAdmin) { %>
            <form action="/services/files/<%= picFile._id %>/<%= picFile.filename %>?_method=DELETE" method="post">
              <button class="btn btn-danger btn-block mt-4" style="width:95%;">Delete Post</button>
            </form>
          <% } %>
      <% } %>
    <% } else { %>
      <% if (req.user) { %>
          <% if (req.user.isAdmin) { %>
            <form action="/services/announcements/<%= board._id %>?_method=DELETE" method="post">
              <button class="btn btn-danger btn-block mt-4" style="width:95%;">Delete Post</button>
            </form>
          <% } %>
      <% } %>
    <% } %>


    <hr>

    <% if (board.comments !== null) { %>
      Comments:<hr style="width:75%;">
      <% var comment = board.comments; %>
      <% for (var i = 0; i < board.comments.length; i++) { %>
          <font size=2  style="word-wrap: break-word"><%= comment[i].author %> :  "<%= comment[i].contents %>"</font>
          <br><font size=1><%= comment[i].comment_date %></font>
          <% if (req.user) { %>
            <% if ( (req.user.email === comment[i].authorEmail) || (req.user.isAdmin) ) { %>
              <form action="/services/comment/<%= board._id %>/<%= comment[i]._id %>?_method=DELETE" method="post">
                <button class="btn btn-danger btn-sm mt-2">Delete Comment</button>
              </form>
            <% } %>
          <% } %>
          <hr style="width:75%;">
      <% } %>
    <% } %>

    <% if (req.user) { %>
      <!-- ONLY LOGGED IN USERS CAN SEE THE FORM BELOW -->
      <form action="/services/comment/write/<%= board._id %>" method="post" style="margin:0 auto;margin-top:50px;width:70%;">
        <input type="hidden" id="author" name="author" value="<%= req.user.name %>">
        <input type="hidden" id="authorEmail" name="authorEmail" value="<%= req.user.email %>">
        <div class="form-group">
          Comment: <textarea class="form-control" name="contents" placeholder="Comment..."></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary btn-block">
      </form>
    <% } %>

      </div>
    </div>
  </div>



<!-- <div class="next">
  <button type="button" class="btn btn-outline-secondary btn-lg ">&#8249;</button>
  <button type="button" class="btn btn-outline-secondary btn-lg ">&#8250;</button>
</div><br> -->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
coll[i].addEventListener("click", function() {
this.classList.toggle("active");
var content = this.nextElementSibling;
if (content.style.display === "block") {
  content.style.display = "none";
} else {
  content.style.display = "block";
}
});
}
</script>
 <% include ./partials/footer %>
</body>
